#scholarlayout-container #scholarlayout-right {
  left: 644px;
}

#scholarlayout-container #scholarlayout-content-main {
  left: 0;
   height: 344px;
}

#scholarlayout-container #scholarlayout-left {
  left: 435px;
}

#scholarlayout-container #scholarlayout-header-left,
#scholarlayout-container #scholarlayout-header-right {
  height: 162px;
  }

#scholarlayout-container #scholarlayout-header-main {
  height: 74px;
}

#scholarlayout-container #scholarlayout-navbar {
  left: 208px;
  width:428px;
  top: 81px;
  height: 80px;
  }
  
/*
 * do not display these blocks when not on the front
 */  
#scholarlayout-container #scholarlayout-content-top,
#scholarlayout-container #scholarlayout-content-bottom,
#scholarlayout-container #scholarlayout-content-left,
#scholarlayout-container #scholarlayout-content-right{
  display: none;
  }
  
/*
 * Front page only in layout
 */
.front#scholarlayout-container #scholarlayout-content-main{
  display: none;
  }

.front#scholarlayout-container #scholarlayout-content-left,
.front#scholarlayout-container #scholarlayout-content-right{
	display: block;
  top: 255px;
  height: 175px;
  width: 208px;  
  }
  
.front#scholarlayout-container #scholarlayout-content-left{
  left: 0;
  }
  
.front#scholarlayout-container #scholarlayout-content-right{
  left: 215px;
  }

.front#scholarlayout-container #scholarlayout-content-top,
.front#scholarlayout-container #scholarlayout-content-bottom {
	display: block;
  width: 428px;
  left: 0;
  }

.front#scholarlayout-container #scholarlayout-content-top{
  top: 170px;
  height: 76px;
  width: 425px;
  }
  
.front#scholarlayout-container.front #scholarlayout-content-bottom{
  height: 74px;
  top: 440px;
  width: 425px;
  }  