body {
  background:#EDECEB;
  color: #150958;
}

/** css for front page **/
#header {
  border-bottom: 5px solid #150958;
  border-top: 4px solid #150958;
}
/** css for logo **/
#branding {
  margin-left: 22px;
  padding-bottom: 10px;
  padding-top: 15px;
}

#container {
  width: 859px !important;
  background: url(../images/background.jpg);
}
/** css for right side logo and search box **/
#logo1 {
  float: right;
  margin-top: 17px;
}

#logo1 img {
  float: right;
  margin-right: 44px;
  margin-bottom: 3px;
}

#container #search-box {
  float: none;
}

#search-box #search-theme-form {
  margin-right: 23px;
  margin-top:0px;
  margin-bottom:0px;
}

#search-box .button-wrapper .button input {
  background:url(../images/search-box.gif) no-repeat;
  border: medium none;
  cursor: pointer;
  height: 24px;
  text-indent: -9999em;
  width: 29px;
}  

#edit-search-theme-form-1-wrapper input#edit-search-theme-form-1 {
  background:url(../images/search.jpg) no-repeat;
  border: medium none;
  padding: 3px 2px;
  width: 150px;
}

/** css for advanced search **/
#advanced-search {
  font-size: 10px;
  margin-left: 101px;
}

#advanced-search a{
  color:#221761;
  text-decoration:none;
  font-weight:bold;
}

input{
margin:0px;
}
#sidebar-first img{
  margin-left:9px;
  margin-top:4px;
}


/** css for sidebar login **/
#block-user-0 span.button input {
  background: url(../images/login.jpg) no-repeat;
  border: none;
  cursor: pointer;
  width: 86px;
  height: 22px;
  text-align: center;
  text-indent: -9999em;
}

/** css for chrome text box border **/
textarea:focus, input:focus{
  outline: none;
}
input:-webkit-autofill {
    background: #fff !important;
}

#sidebar-first {
  padding-left:15px;
}


/** css for login block **/
#sidebar-first #block-user-0 {
  background: none repeat scroll 0 0 #F7F7F7;
  border: 1px solid #140852;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
  margin-bottom: 7px;
  padding:0px;
  width:173px;
}
/** add image to input box login**/
.block-inner #edit-pass-wrapper input, .block-inner #edit-name-wrapper input {
  background: url(../images/login-input.jpg) no-repeat;
  height: 17px;
  margin-top:0px;
  margin-left:10px;
  width: 152px;
}

/** css for removing "*" in login form **/
#block-user-0 label span.form-required {
  display:none;
}

input.form-text {
  border:none;   
}

/** on focus it shows yellow color remove**/
.form-text:focus, .form-checkbox:focus, .form-radio:focus, .form-select:focus {
  border: none !important;
}

#sidebar-first #block-user-0 h2 {
  background: url("../images/login-border.jpg") no-repeat scroll -7px 18px transparent;
  color: #150958;
  font-size: 14px;
  margin-left: 13px;
}
 
#sidebar-first #edit-name-wrapper {
  margin-bottom:0px;
  margin-top: 1px;
}
 
#sidebar-first #edit-pass-wrapper {
  margin:0px;
}

/** aligned left label **/
#edit-name-wrapper label, #edit-pass-wrapper label {
  font-size:10px;
  margin-left: 14px;
  text-align: left;
  font-weight:normal;  
}

#sidebar-first .block-inner {
  padding-bottom:0px;
}

form#user-login-form {
  margin-bottom:0px;
}

#block-user-0 .item-list ul li a{
  color: #1B105E;
  font-size: 9px;
  text-decoration:none;
}

#sidebar-first span.button-wrapper {
  display: block;
  margin-top: 3px;
}

/** css for calender **/

#block-scholar_events-mini {
  padding:0px;
  width:173px;
}

/** add image to calender title **/
#block-scholar_events-mini h2 {
  background: url("../images/cal-image.jpg") no-repeat scroll 0 1px transparent;
  color:#333;
  font-size: 13.39px;
  margin-bottom:4px;
  padding-left: 16px;
}

.litecal-compact .litecal-title {
  background: url("../images/calender-head.jpg") repeat scroll 0 0 transparent;
  color: #FFFFFF;
}

#block-scholar_events-mini .litecal-compact .litecal-title h3.litecal-title {
  font-size: 12px;
  float:none;
  text-align:center;
}

#sidebar-first div.litecal .litecal-slot, #sidebar-first div.litecal .litecal-timespan {
  background:url(../images/calender-back.jpg);
  border:0px;
}

#sidebar-first div.litecal .litecal-timespan {
  border:0px;
  height: 7px;
}

div.litecal .litecal-header .litecal-label {
  padding-left: 12px;
}

.litecal-header {
  background: url(../images/calender-back.jpg);
  color:#000;
}

#sidebar-first {
  padding-left:17px;
}

#content-column .content-inner {
  margin-left:201px;
}

#main-content #content, #main-content .block {
  padding:0px;
}

#block-scholar_events-mini .litecal-compact .timespan-last .litecal-slot {
  margin-bottom: 0;
  padding-bottom: 0;
}

/** css for main content block **/
#block-block-1, #block-block-2, #block-block-3, #block-block-4 {
  display:inline-block;
  margin:0px;
}

#block-block-1, #block-block-3 {
  float:left;
  margin-right:3px;
}

#block-block-1 h2, #block-block-2 h2, #block-block-3 h2, #block-block-4 h2 {
  font-size:12px;
  margin-bottom:2px;
}

#main-content #content {
  margin-top:9px;
}

#block-block-1 .block-inner, #block-block-2 .block-inner, #block-block-3 .block-inner, #block-block-4 .block-inner {
  padding:0px;
}

#block-block-1 .block-inner, #block-block-2 .block-inner{
  padding-bottom:0px;
}
/** css for footer block **/

#footer {
  border-top: 1px solid #15085A;
  margin: 0 17px;
}

#footer-region .block {
  background: url("../images/footer.jpg") repeat scroll 0 0 transparent;
  border: 1px solid #15085A;
  border-radius: 6px 6px 6px 6px;
  display: inline-table;
  margin-bottom: 10px;
  margin-top: 5px;
}
#block-views-scholar_announcements-block_1 {
  width:194px;
}

#block-views-scholar_publications-block_1 {
  margin-left: 1px;
  width: 275px;
}

#block-views-top_faculty-block_1 {
  margin-right: 4px;
  width: 276px;
}

#block-views-scholar_announcements-block_1 h2, #block-views-scholar_publications-block_1 h2, #block-views-top_faculty-block_1 h2 {
  font-size:12px;
  color: #1B105E;
  height:22px
}

#block-views-scholar_announcements-block_1 h2 {
  background: url("../images/footer-border.png") no-repeat scroll 0 18px transparent;
}

#block-views-scholar_publications-block_1 h2 {
  background: url("../images/footer-border1.png") no-repeat scroll 0 18px transparent;
}

#block-views-top_faculty-block_1 h2 {
  background: url("../images/footer-border1.png") no-repeat scroll 0 18px transparent;
}

.footer-msg {
  background: url("../images/footer-msg.png") repeat scroll 0 0 transparent;
  height: 47px;
}

/** footer block font **/
#footer-region .block a {
  color: #000000;
  font-size: 11px;
  text-decoration: none;
}

#footer .more-link a {
  background: url("../images/more.jpg") no-repeat scroll right top transparent;
  display: inline-block;
  font-size: 0;
  height: 14px;
  text-indent: -9999em;
  width: 54px;
}

