div#admin-toolbar span.admin-toggle {
  background: url("../images/admin-sprite.png") no-repeat scroll 0 0 transparent;
  }

.admin-menu #admin-toolbar,
.admin-menu div#admin-toolbar.ne,
.admin-menu div#admin-toolbar.nw {
  top: 22px;
  }

#admin-toolbar ul.menu li a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  font-weight: 300;
  color: #fff;
  -moz-text-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
  }

#admin-toolbar #block-menu-cp ul.menu li a {
  background: url('../images/topmenu-icons.png') no-repeat scroll 0 0 transparent;
  display: block;
  height: 24px;
  line-height:24px;
  margin-left: 0;
  overflow: hidden;
  padding: 2px 10px 2px 32px;
  white-space: nowrap;
  }

#admin-toolbar #block-menu-cp ul.menu li.leaf:nth-child(2) a {
  background-position: 0 -27px;
  }

#admin-toolbar #block-menu-cp ul.menu li.leaf:nth-child(3) a {
  background-position: 0 -55px;
  }

#admin-toolbar #block-menu-cp ul.menu li.leaf:nth-child(4) a {
  background-position: 0 -83px;
  }

#admin-toolbar #block-menu-cp ul.menu li.leaf:nth-child(5) a {
  background-position: 0 -111px;
  }

#admin-toolbar #block-menu-cp ul.menu li.leaf:nth-child(6) a {
  background-position: 0 -139px;
  }

#admin-toolbar #block-menu-cp ul.menu li.leaf:nth-child(7) a {
  background-position: 0 -167px;
  }

div#admin-toolbar div.admin-blocks {
  -moz-box-shadow: 0 .2em 3em #000;
  -webkit-box-shadow: 0 .2em 3em #000;
  box-shadow: 0 1em 2em #000;
  }

div#admin-toolbar.vertical,
div#admin-toolbar.vertical div.admin-blocks,
div#admin-toolbar.horizontal,
div#admin-toolbar.horizontal div.admin-blocks,
div#admin-toolbar div.admin-tabs {
  background: #f2f3f3;
  color: #000;
  }

#admin-toolbar.vertical ul.menu li a,
#admin-toolbar.horizontal ul.menu li a{
  border: none;
  color: #000;
  }

/* HORIZONTAL */

div#admin-toolbar.horizontal div.admin-tabs {
  background: #222;
  height: 25px;
  }

div#admin-toolbar.horizontal div.admin-tab,
div#admin-toolbar.horizontal div.admin-tab a {
  color: #ccc;
  }


div#admin-toolbar.horizontal div.block-content {
  height:auto;
  position:static;
  overflow: visible;
  }

div#admin-toolbar.horizontal ul.menu li {
  height: 32px;
  float: left;
  margin-right: 10px;
  }

#admin-toolbar.horizontal ul.menu li a:hover {
  color: blue;
  background: transparent;
  }

/* VERTICAL */

.admin-menu div#admin-toolbar.vertical {
  top:20px;
  }

div#admin-toolbar.vertical div.admin-blocks {
  width: 100%;
  padding:0;
  }

div#admin-toolbar.vertical div.block-content {
  left: 0;
  top: 0;
  right: 0;
  }

body.admin-expanded div#admin-toolbar.vertical div.admin-blocks {
  width:259px;
  }

#admin-toolbar.vertical ul.menu li.leaf,
#admin-toolbar.vertical ul.drilldown-active-menu li.leaf {
  background-position: 217px -106px;
  }

#admin-toolbar.vertical ul.menu li {
  padding: 3px 10px 10px;
  border-bottom: 1px solid #c7ccd1;
  border-top: 1px solid #e9eaeb;
  }


#admin-toolbar.vertical ul.menu li a:hover {
  background: #eee;
  color: #000;
  }

#admin-toolbar.vertical ul.menu li a.active {
  background:#8898a9;
  color: #000;
  }

div#admin-toolbar.vertical div.admin-tab {
  -moz-border-radius: 33px;
  -webkit-border-radius: 33px;
  border-radius: 33px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 33px;
  border: none;
  background: #B5BACF;
  text-shadow: 0 1px 0 #eee;
  }