#footer, #extradiv {{
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C13F3C0E,endColorstr=#C13F3C0E)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C13F3C0E,endColorstr=#C13F3C0E);   /* IE6 & 7 */
      zoom: 1;
}

#sidebar-first {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FDDDFAE,endColorstr=#7FDDDFAE)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FDDDFAE,endColorstr=#7FDDDFAE);   /* IE6 & 7 */
      zoom: 1;
}

.node-teaser {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66F8FAD1,endColorstr=#66F8FAD1)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66F8FAD1,endColorstr=#66F8FAD1);   /* IE6 & 7 */
      zoom: 1;
}

#block-vsite_menus-features ul.menu li.active-trail {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DB3F3C0E,endColorstr=#DB3F3C0E)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DB3F3C0E,endColorstr=#DB3F3C0E);   /* IE6 & 7 */
      zoom: 1;
}