html,body {
  background: #c4ab97;
  }

#sidebar-first a,
#sidebar-first a:visited,
#sidebar-second a,
#sidebar-second a:visited,
#header a,
#header a:visited,
#header,
#header h1 a,
#header h1 a:visited {
  color: #666;
  }

#content-main  {
  -moz-box-shadow: 0 3px 1em #666;
  -webkit-box-shadow: 0 3px 1em #666;
  box-shadow: 0 3px 1em #666;
  }

#sidebar-first a:hover,
#sidebar-second a:hover,
#header h1 a:hover {
  background: #A56565;
  color: #fff;
  }

#sidebar-first a.active,
#sidebar-first .active-trail a,
#sidebar-second a.active,
#sidebar-second .active-trail a {
  color: #fff;
  background: #6D4E4E;
  }