
#extradiv {
    text-indent: -999em;
    position: fixed;
    background:url('../../images/bottom.png') center bottom no-repeat;
    bottom: 0;
    height:215px;
    width: 100%;
    z-index:50;
    }