@font-face {
	font-family: 'GoudyTrajanRegular';
	src: url('fonts/GoudyTrajan-Regular.eot');
	src: local('fonts/Goudy Trajan Regular'), local('fonts/GoudyTrajan-Regular'), url('fonts/GoudyTrajan-Regular.woff') format('woff'), url('fonts/GoudyTrajan-Regular.otf') format('opentype'), url('fonts/GoudyTrajan-Regular.svg#GoudyTrajan-Regular') format('svg');
  }

body,
#header,
#footer,
#page {
  background: #2f341f;
  color:#37352B;
  font-family: georgia, serif;
  }

.sidebar {
  color: #ddd;
  }

a, a:visited {
  color:#a3a18c;
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
  }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  font-weight:normal;
  font-style: italic;
  }

h2.title {
  margin-top: 0;
  margin-bottom: 1em;
  }

.links li {
  font-size: .8em;
  }

#sidebar-second {
  color: #999;
  }

#sidebar-second h3.title,
#sidebar-first h3.title,
#sidebar-first #block-vsite_menus-features li a {
  color: #50cae9;
  font: 13px/normal "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  font-weight: normal;
  text-transform:uppercase;
  letter-spacing: .5px;
  border-bottom:1px solid #c6c7c2;
  }

#sidebar-second li a,
#sidebar-first li a {
  color: #bbb;
  font-weight:normal;
  }

p.copy {
  margin-top: 0;
  }

/* LAYOUT ELEMENTS */

#page {
  width: 938px;
  margin: 0 auto;
  background: url(images/container.png) repeat-y 0 0 #fff;
  }

#sidebar-first,
#sidebar-second {
  font-size: .8em;
  line-height: 1.1em;
  width: 186px;
  padding:30px 22px;
  }

#sidebar-first {
  left: -250px;
  }

#content-area .hg-container {
  padding-left: 230px;
  padding-right: 250px;
  }

body.sidebar-second #content-area .hg-container {
  padding-left:10px;
  }

#footer {
  padding-top: 14px;
  padding-bottom: 45px;
   }

body.sidebar-first #page {
  background-position: -708px 0;
  }

body.sidebar-second #page {
  background-position: 708px 0;
  }

body.no-sidebars #page  {
  background:#fff;
  }

p.copy a.poweredby {
  background-position: 0 -26px;
  }

/* SIDEBAR ELEMENTS */

#sidebar-second,
#sidebar-first {
  font-size: 13px;
  line-height: 1.2em;
  }

#sidebar-second a,
#sidebar-second a:visited,
#sidebar-first a,
#sidebar-first a:visited {
  color: #e3dfdf;
  }

/* HEADER ELEMENTS */


#header-left,
#logo {
  width: 139px;
  padding-left: 0;
  }

#header-left {
  left: -169px;
  }

#header .hg-container {
  padding-left: 149px;
  padding-bottom:5px;
  }

body.header-main #header .hg-container,
body.header-main-right #header .hg-container {
  padding-right:298px;
  }

body.header-main #header-main,
body.header-main-right #header-main {
  padding-left: 22px;
  }

.box-os_boxes_modal_sitelogo {
  display:table-cell;
  vertical-align:middle;
  }

#header h1, #header h2, #header p {
    font-size: 23px;
    line-height: 28px;
    font-weight:normal;
    color:#fff;
    font-family:'GoudyTrajanRegular', serif;
    margin: 0;
    }

#header h2 {
  font-size: 16px;
  line-height: 18px;
  font-style:normal;
  }

#header p {
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 5px;
  }

#header h1 a, #header h1 a:visited {
    color:#a3a18c;
    }

#header h1 a:hover {
    color:#f8f7bd;
    text-decoration: none;
    }

#navbar {
  width: auto;
  background: url(images/navbar.png) 0 0 repeat-x transparent;
  height: 48px;
  padding: 0;
  }

#navbar li {
    float:left;
    padding-right: 1px;
    line-height: 48px;
    }

#navbar #block-vsite_menus-features li a,
#navbar #block-vsite_menus-features li a:visited {
  line-height: 25px;
  text-transform:uppercase;
  color: #fff;
  font-weight:normal;
  font-size: 11px;
  display:block;
  padding: 11px 17px;
  border-right: 1px solid #3b4611;
  }

#navbar #block-vsite_menus-features li.first a {
  padding-left: 22px;
  }

#navbar #block-vsite_menus-features li a:active,
#navbar #block-vsite_menus-features li a:hover,
#navbar #block-vsite_menus-features li a.active,
#navbar #block-vsite_menus-features li.active-trail a {
  background: url(images/navbar.png) 0 -48px repeat-x transparent;
  text-decoration:none;
  }

#sidebar-first #block-vsite_menus-features li a,
#sidebar-first #block-vsite_menus-features li a:visited {
  color: #7e9f06;
  border: none;
  display:block;
  padding-bottom: 2px;
  padding-top: 2px;
  }

#sidebar-first #block-vsite_menus-features li a:hover {
  text-decoration:none;
  background: #485616;
  color:#fff;
  }

#scholar-shield {
  margin-right:0;
  }

/* MAIN CONTENT AREA */

.submitted {
  color: #a1b1b1;
  border-bottom: 1px solid #a1b1b1;
  display:block;
  }