/* Khaki version */


body.navbar-off {
  background-image: url(images/body-bg-khaki.png);
  }

body.navbar-on #wrapper {
  background-image: url(images/body-bg-horiz-khaki.png);
  }

a, a:visited {
  color: #7F6910;
  }

a:hover {
  color: #000;
  text-decoration: underline;
  }

/*Navbar & sidebar shared */

#navbar a,
#navbar a:visited,
#sidebar-first a,
#sidebar-first a:visited,
#sidebar-first #block-vsite_menus-features li a,
#sidebar-first #block-vsite_menus-features li a:visited {
  color: #282828;
  }

  #navbar {
    background: none repeat scroll 0 0 #E3D393;
    border-bottom: 1px solid #E6EAED;
    border-top: 1px solid #E6EAED;
}

#navbar a:hover,
#sidebar-first ul.menu li a:hover,
#navbar a.active,
#sidebar-first  ul.menu li a.active,
#navbar li.active-trail,
#sidebar-first  ul.menu li.active-trail {
  background:#E3D393;
  color: #222;
  }

#sidebar-first #block-vsite_menus-features li a {
  border-color: #A08723;
  }

/*Navbar Specific */

#navbar li,
#navbar li.first,
#sidebar-first li a {
 border-color: #C4B371;
  }
