#header .wrap {
  background: #9a2e27;
  }

#navbar .wrap {
  background: #8a2608;
  }

#header a,
#header a:visited,
#header h1 a,
#header h1 a:visited,
#header h2,
#header p {
  color: #fff;
  }

#navbar li a,
#navbar li a:visited {
  color: #fff;
  }

#navbar li a:hover,
#navbar li a.active,
#navbar li.active-trail a {
  background: #000;
  color: #fff;
  }

#sidebar-first {
  background:#e9e7be;
  }

#sidebar-second {
  background:#eecbb4;
  }

#sidebar-first h3.title {
  background: #f0ec98;
  }

#sidebar-second h3.title {
  background: #e8af8a;
  }

#footer .wrap {
  background: #8a2608;
  }
