
#tabs {
	margin: 10px 0;
	border: 1px solid black;
}

#tabs .links {
	border-bottom: 1px solid black;
	padding-left: 5px;
}

#tabs .panel {
	padding: 10px;
}

#tabs .panel .form-item {
	margin-bottom: 1em;
}

#tabs .panel input,
#tabs .panel select {
	width: auto;
}

#tabs .links .new a:before {
	content: '+';
}

/*** STYLES TO BE INCLUDED IN MAIN (SINGLE) MODAL CSS WHEN CREATED ***/

.modalframe-page-content #tabs {
	margin: 10px 0;
	border: none;
}

.modalframe-page-content #tabs fieldset {
background: #f1f1f1;
width: 60%;
}

.modalframe-page-content #tabs .links {
    border-bottom: 1px solid #c4c2c2;
    width: 61%;
padding-left: 0;
}

.modalframe-page-content #tabs .panel {
	padding-left: 5px;
}



.modalframe-page-content #tabs .ui-tabs-nav li {
	background:#f1f1f1;
	margin-right:3px;
	border:1px solid #c4c2c2;
	border-bottom:none;
}

.modalframe-page-content #tabs .ui-tabs-nav li.ui-state-active {
	background:#c4c2c2;
	
}


.modalframe-page-content #tabs .ui-tabs-nav li a, .modalframe-page-content #tabs .ui-tabs-nav li.ui-state-disabled a {
	color:#333;
	opacity: 1;
}